*{
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.charge-stn-holder{
  display: flex;
  flex-wrap: wrap;
  justify-content:  space-around;
  align-content: center;
}

.charge-stn-holder .charge-stn{
  width: 30%;
  margin-bottom: 3%;
}
.card-lastupdate.card-lastupdate{
  padding: 0;
}
.sub-navContainer{
  background-color: #262626;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}
.sub-navContainer a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5rem 0;
}